body{
    background:#f6f6f6;
    font-family:Poppins,sans-serif;
}

.profile-card{
    width:500px;
    margin:40px auto;
    background:#fff;
    border-radius:20px;
    padding:35px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.profile-header{
    text-align:center;
    margin-bottom:30px;
}

.avatar{
    width:90px;
    height:90px;
    background:#ff8c42;
    color:white;
    font-size:45px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
}

.profile-header h2{
    margin-top:15px;
}

.profile-header p{
    color:gray;
}

.profile-info{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin:25px 0;
}

.info-box{
    background:#fff5ee;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

.info-box span{
    color:gray;
    font-size:14px;
}

.logout-btn{
    width:100%;
    background:#ff8c42;
    color:white;
    border:none;
    padding:15px;
    border-radius:12px;
    font-size:17px;
    cursor:pointer;
}

.logout-btn:hover{
    background:#ff6f00;
}
.order-card{
    background:#fff7f0;
    border:1px solid #ffd3b6;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
}

.order-card h3{
    color:#ff8c42;
    margin-bottom:10px;
}

.order-card p{
    margin:6px 0;
}

.order-card ul{
    margin-top:10px;
    padding-left:20px;
}